* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
}

a {
  color: rgb(221, 155, 69);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  height: 72px;
  background-color: rgb(221, 155, 69);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 72px;
  background-color: rgb(221, 155, 69);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 50px;
}

.header-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

.header-img-container {
  width: 100%;
}

.shop-detail-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-section-container {
  width: 90%;
}

.shop-reviews {
  color: rgb(221, 155, 69);
}

.header-nav-options {
  height: 72px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow-icon {
  height: 40px;
  width: 40px;
}

.main-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content-img-container {
  width: 100%;
}

.option-header-container {
  width: 90%;
  margin-top: 20px;
}

.option-section-img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.dish-option-outer-layout {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.171);
  box-shadow: 1px 1px 1px 1px #17121964;
}

.dish-option-overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.variation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.variation-specs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-btn {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-size: 35px;
  color: rgb(221, 155, 69);
  background-color: rgba(128, 128, 128, 0.493);
}
