* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

a {
  color: rgb(221, 155, 69);
}

a:hover {
  color: rgb(198, 112, 0);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section {
  display: flex;
  justify-content: center;
  background-color: rgb(221, 155, 69);
}

.main-header {
  height: 72px;
  max-width: 1920px;
  width: 100%;
  background-color: rgb(221, 155, 69);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section {
  display: flex;
  justify-content: center;
  background-color: rgb(221, 155, 69);
}

footer {
  height: 72px;
  max-width: 1920px;
  width: 100%;
  background-color: rgb(221, 155, 69);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 50px;
  left: 50%;
  top: 350px;
}

.merge-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

.logo-restaurant {
  position: absolute;
  top: 210px;
}

.header-img-container {
  width: 100%;
}

.shop-detail-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-section-container {
  width: 90%;
}

.shop-reviews {
  color: rgb(221, 155, 69);
}

.header-nav-options {
  height: 72px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow-icon {
  height: 40px;
  width: 40px;
}

.main-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-img-container {
  width: 100%;
}

.option-header-container {
  width: 90%;
  margin-top: 20px;
}

.option-section-img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.dish-option-outer-layout {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.171);
  box-shadow: 1px 1px 1px 1px #17121964;
}

.dish-option-overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.variation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.variation-specs {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-btn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 35px;
  color: rgb(221, 155, 69);
  background-color: rgba(128, 128, 128, 0.493);
}

.btn-basket-resp {
  display: none;
}

/*shopping cart*/
.content-wrapper-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.content-wrapper {  
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.outer-main-wrapper {
  width: calc(100% - 300px);
}

.basket-wrapper {
  width: 300px;
  flex-grow: 1;
  padding: 16px;
  border: 1px solid orange;
}

.overlay-btn {
  display: none;
}

.basket {
  width: 100%;
  height: 500px;
  background-color: #17121964;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 15px;
}

.basket-options-target {
  height: 300px;
  width: 100%;
  overflow: auto;
}

.single-basket-option-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.basket-header {
  font-weight: bold;
  padding: 10px;
  padding-top: 20px;
}

.subsection-single-basket-option {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-option-header {
  font-weight: bold;
  padding: 10px;
}

.calc-btns {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(221, 155, 69);
}

.trash-icon {
  height: 23px;
  width: 23px;
  object-fit: contain;
}

.seperator {
  background-color: #1712199b;
  box-shadow: 1px 1px 1px 1px #17121964;
  width: 250px;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.total-section {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.total-section-spacing {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-btn {
  width: 200px;
  padding: 10px;
  background-color: rgb(80, 181, 228);
  border-color: none;
  border-radius: 25px;
  font-weight: bold;
}

.order-btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.overlay-resp {
  display: none;
}

/*dialog*/

dialog::backdrop {
  background-color: #28251eb4;
}

dialog {
  padding: 40px;
  border-radius: 25px;
}

dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.dialog-header {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
}

.dialog-btn {
  height: 30px;
  width: 30px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(221, 155, 69);
}

/*media queries*/

@media (max-width: 750px) {
  .add-btn {
    height: 30px;
    width: 30px;
  }

  .basket-wrapper {
    display: none;
    height: 100%;
  }

  .outer-main-wrapper {
    width: 100%;
  }

  .resp-basket-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .btn-basket-resp {
    display: block;
    width: 90%;
    padding: 10px;
    background-color: rgb(80, 181, 228);
    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
  }

  .overlay-resp {
    display: block;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(243, 243, 243, 0.925);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  .overlay-display-none {
    display: none;
  }

  .overlay-display-block {
    display: block;
  }

  .overlay-btn {
    display: block;
    height: 30px;
    width: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(221, 155, 69);
    margin: 20px;
  }

  .basket-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .overlay-header {
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 3;
  }

  .seperator {
    width: 90%;
  }

  .basket-options-target {
    height: 600px;
  }

  .basket-resp-overlay {
    display: block;
    z-index: 2;
    position: absolute;
    width: 100%;
  }

  .basket {
    height: 700px;
    padding-bottom: 20px;
    position: sticky;
    top: 64px;
  }

  .main-content-container {
    margin-bottom: 50px;
  }
}
