* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: rgb(221, 155, 69);
}

.main-header {
  height: 64px;
  background-color: rgb(221, 155, 69);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 50px;
}

.header-img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.shop-reviews {
  color: rgb(221, 155, 69);
}

.header-nav-options {
  height: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow-icon {
  height: 40px;
  width: 40px;
}

.option-section-img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.dish-option-overlay {
  height: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.521);
}

.variation-specs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-btn {
  height: 40px;
  width: 40px;
  font-size: 35px;
  color: rgb(221, 155, 69);
}
